global
    log 127.0.0.1 local0
    maxconn 3000

defaults
    log     global
    mode    tcp
    option  tcplog
    timeout connect 5000
    timeout client  50000
    timeout server  50000

listen haproxy-stats
    bind *:1936
    mode http
    stats enable
    stats refresh 5s
    stats uri /haproxy?stats
    stats auth admin:admin

listen elasticsearch
    bind *:9200
    mode tcp
    option tcplog
    balance roundrobin
    server es0 es0:80 check
    server es1 es1:80 check
    server es2 es2:80 check