global
    log 127.0.0.1 alert
    log 127.0.0.1 alert debug
    maxconn 3000

defaults
    log     global
    option  dontlognull
    option  presist
    option  redispatch
    retries 3
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

listen haproxy-stats
    bind *:1936
    mode http
    stats enable
    stats hide-version
    stats refresh 5s
    stats uri /haproxy?stats
    stats realm Haproxy\ Statistics
    stats auth haproxy:haproxy

listen es
    bind *:9200
    mode tcp
    option tcplog
    balance roundrobin
    server es0 es0:9200 check inter 5000 rise 3 fall 5
    server es1 es1:9200 check inter 5000 rise 3 fall 5
    server es2 es2:9200 check inter 5000 rise 3 fall 5